@use './variables'

@mixin center
  display: flex
  align-items: center
  justify-content: center

@mixin btn
  padding: 1rem 1.5rem
  color: variables.$text-color
  background: variables.$gradient
  text-decoration: none
  border-radius: 1rem
  &:focus, &:hover
      transform: scaleX(1.05)

@mixin divider
  content: ""
  background: variables.$gradient
  height: 3px
  width: 30%
